@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";



.CosmosBlock {
  margin-bottom: 150px;

  @media (max-width: $media-tablet-landscape) {
    margin-bottom: 120px;
  }
  @media (max-width: $media-phone) {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;

  @media (max-width: $media-tablet-landscape) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  @media (max-width: $media-phone) {
    max-width: 320px;
    text-align: left;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

.content {
  display: flex;
  gap: 48px;

  @media (max-width: $media-tablet-landscape) {

  }
  @media (max-width: $media-tablet) {
    flex-direction: column;
    gap: 24px;
  }
}

.image {
  width: 45%;
  height: 45%;

  @media (max-width: $media-tablet-landscape) {
    width: 460px;
    height: 286px;
    //margin-bottom:  36px;
  }
  @media (max-width: $media-tablet) {
    width: 620px;
    height: 386px;
    //margin-bottom:  36px;
  }
  @media (max-width: $media-phone) {
    width: 340px;
    height: 212px;
  }
}

.items__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $media-tablet-landscape) {
    padding-left: 17px;
  }
}

li {
  color: #0072F8;
}

li span {
  color: #818AA7;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 16px;
    line-height: 22px;
  }
}