@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.CheckBox {
  z-index: 10;
  width: 20px;
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #818AA7;
    outline: none;
    cursor: pointer;

    &.Disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:checked {
      position: relative;
      border: 1px solid #0072F8;
      background: #0072F8;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: url("../../../assets/img/Check.svg") no-repeat;
        //background: transparent;
        background-position: center;
      }
    }

    &:focus {
      opacity: 0.8;
      border: 1px solid #818AA7;
    }
  }
}