@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.TariffsSchemeBlock {
  margin-bottom: 150px;

  @media (max-width: $media-tablet-landscape) {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

.content {
  display: flex;
  gap: 40px;
}

.columnMain {
  width: 80%;
}

.titles {
  padding-top: 32px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  color: #FFF;
  line-height: 28px;
  text-align: center;
  font-size: 28px;
  width: 22.5%;

  @media (max-width: $media-tablet-landscape) {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;
  }

  &:first-child {
    width: 32.5%;
  }
}

.columnMainContent {
  display: flex;
  justify-content: space-between;

  &:last-child {
    font-size: 120px;
  }
}

.text {
  color: #818AA7;
  font-size: 16px;
  line-height: 22px;
  width: 32.5%;

  @media (max-width: $media-tablet-landscape) {
    font-size: 12px;
    line-height: 15px;
    width: 50%;
  }

  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }
}

.free {
  font-size: 16px;
  line-height: 22px;
  width: 22.5%;

  @media (max-width: $media-tablet-landscape) {
    font-size: 12px;
    line-height: 15px;
    width: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;

    span {
      width: 80%;

      &:last-child {
        color: #818AA7;
      }
    }

  }
}

.light {
  font-size: 16px;
  line-height: 22px;
  width: 22.5%;

  @media (max-width: $media-tablet-landscape) {
    font-size: 12px;
    line-height: 15px;
    width: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;

    span {
      width: 80%;

      &:last-child {
        color: #818AA7;
      }
    }
  }
}

.standart {
  font-size: 16px;
  line-height: 22px;
  width: 22.5%;

  @media (max-width: $media-tablet-landscape) {
    font-size: 12px;
    line-height: 15px;
    width: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;

    span {
      width: 80%;

      &:last-child {
        color: #818AA7;
      }
    }
  }
}

.columnPremium {
  padding: 32px 16px;
  height: 1122px;
  width: 20%;
  border-radius: 32px;
  border: 1px solid #4E5C77;
}

.premiumTitle {
  padding-bottom: 16px;
  color: #0072F8;
  line-height: 28px;
  text-align: center;
  font-size: 28px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
}

.premium {
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 12px;
    line-height: 15px;
    width: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;

    span {
      &:last-child {
        color: #818AA7;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.27) 0%, #5C6C8C 11.19%, #5C6C8C 80.19%, rgba(92, 108, 140, 0.27) 88.69%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.high {
  height: 96px;

  @media (max-width: $media-tablet-landscape) {
    height: 80px;
  }
}

.small {
  height: 64px;

  @media (max-width: $media-tablet-landscape) {
    height: 40px;
  }
}

.medium {
  height: 84px;

  @media (max-width: $media-tablet-landscape) {
    height: 40px;
  }
}

.other {
  height: 64px;

  @media (max-width: $media-tablet-landscape) {
    height: 56px;
  }
}

.info_go {
  display: block !important;

  @media (max-width: $media-tablet-landscape) {
    display: none !important;
  }
}

.info_goMob {
  display: none !important;

  @media (max-width: $media-tablet-landscape) {
    display: block !important;
  }
}

.button {
  vertical-align: bottom;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background: #0F1424;

  &:hover {
    opacity: 0.65;
  } 

  .buttonText {
    font-size: 14px;
    line-height: 21px;
    color: #E7EAFA;
    width: 100%;

    @media (max-width: $media-tablet-landscape) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.buttonHigh {
  height: 96px;

  @media (max-width: $media-tablet-landscape) {
    margin-top: 24px;
    height: auto;
  }
}

.price {
  color: #fff !important;
  font-size: 16px !important;
}

.mobileContent {
  display: flex;
}

.buttons {
  display: flex;
}

.mobilePremium {
  height: 162px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.mobileStandart {
  height: 162px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.mobileLight {
  height: 162px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.mobileFree {
  height: 162px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.open {
  height: 746px;
}

.description {
  margin-top: 16px;
  color: #818AA7;
  font-size: 12px;
  line-height: 15px;
}

.premiumButton {
  background: #0072F8 !important;

  &:hover {
    background: #268AFF !important;
    opacity: 1 !important;
  } 
}