@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Tabs {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 26px;
    margin-right: 40px;
    .tab {
        padding-bottom: 8px;
        &:first-child {
            color: #0072F8;
        }
    }

    //.active {
    //    border-bottom: 1px solid #FFF;
    //
    //    &:first-child {
    //        border-bottom: 1px solid #0072F8;
    //    }
    //}
}