@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.CosmosSchemeBlock {
  margin-bottom: 150px;

  @media (max-width: $media-tablet-landscape) {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

.content {
  display: flex;
  gap: 20px;

  @media (max-width: $media-tablet-landscape) {
    gap: 0px;
  }
}

.columnText {
  padding-top: 76px;
  width: 50%;

  @media (max-width: $media-tablet-landscape) {
    padding-top: 32px;
  }

  .text {
    color: #818AA7;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $media-tablet-landscape) {
      font-size: 12px;
      line-height: 15px;
    }

    div {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet-landscape) {
        justify-content: flex-start;
        padding-top: 12px;
      }
    }
  }
}

.columnCosmos {
  padding: 32px 16px;
  height: 880px;
  width: 25%;
  border-radius: 32px;
  border: 1px solid #4E5C77;

  @media (max-width: $media-tablet-landscape) {
    border: none;
    height: auto;
    padding: 32px 0px 0px 0px;
    width: 50%;
  }

  .cosmosTitle {
    color: #0072F8;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;

    @media (max-width: $media-tablet-landscape) {
      display: none;
    }
  }

  .cosmos {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @media (max-width: $media-tablet-landscape) {
      font-size: 12px;
      line-height: 15px;
      text-align: left;
      padding-left: 8px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet-landscape) {
        align-items: flex-start;
      }
    }
  }
}

.columnOther {
  width: 25%;

  @media (max-width: $media-tablet-landscape) {
    padding-top: 32px;
    width: 50%;
  }

  .otherTitle {
    padding-top: 32px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;

    @media (max-width: $media-tablet-landscape) {
      display: none;
    }
  }


  .other {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @media (max-width: $media-tablet-landscape) {
      font-size: 12px;
      line-height: 15px;
      text-align: left;
      padding-left: 8px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet-landscape) {
        align-items: flex-start;
      }
    }
  }
}

.small {
  height: 82px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.high {
  height: 102px;

  @media (max-width: $media-tablet-landscape) {
    height: 84px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 71.35%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.dividerLeft {
  width: 100%;
  height: 1px;
  background: linear-gradient(-270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 100%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.dividerRight {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 100%, rgba(92, 108, 140, 0.00) 100%), #000;


  &:last-child {
    display: none;
  }
}