@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.CosmosSchemeBlock {
  margin-bottom: 150px;

  @media (max-width: $media-tablet) {
    margin-bottom: 120px;
  }

  @media (max-width: $media-phone) {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: $media-phone) {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

.content {
  display: flex;
  gap: 20px;

  @media (max-width: $media-tablet) {
    gap: 0px;
  }
}

.columnText {
  text-align: left;
  padding-top: 76px;
  width: 50%;

  @media (max-width: $media-phone) {
    width: 40%;
    padding-top: 74px;
  }

  .text {
    color: #818AA7;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $media-tablet) {
      text-align: left;
    }

    @media (max-width: $media-phone) {
      font-size: 12px;
      line-height: 15px;
    }

    div {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet) {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

.columnCosmos {
  padding: 32px 16px;
  height: 654px;
  width: 25%;
  border-radius: 32px;
  border: 1px solid #4E5C77;

  @media (max-width: $media-tablet) {
    border: none;
    height: auto;
    padding: 32px 0px;
    margin-right: 20px;
  }
  
  @media (max-width: $media-phone) {
    margin-right: 10px;
    width: 30%;
  }

  .cosmosTitle {
    color: #0072F8;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;

    @media (max-width: $media-tablet) {
      text-align: left;
      margin-left: 20px;
    }

    @media (max-width: $media-phone) {
      font-size: 20px;
      line-height: 26px;
      margin-left: 8px;
    } 
  }

  .cosmos {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @media (max-width: $media-tablet) {
      text-align: left;
      margin-left: 20px;
    }

    @media (max-width: $media-phone) {
      font-size: 12px;
      line-height: 15px;
      margin-left: 8px;
    }

    div {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet) {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

.columnOther {
  width: 25%;

  @media (max-width: $media-tablet) {
    padding-top: 32px;
  }

  @media (max-width: $media-phone) {
    width: 30%;
  }

  .otherTitle {
    padding-top: 32px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;

    @media (max-width: $media-tablet) {
      text-align: left;
      padding-top: 0px;
    }

    @media (max-width: $media-phone) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .other {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @media (max-width: $media-tablet) {
      text-align: left;
    }

    @media (max-width: $media-phone) {
      font-size: 12px;
      line-height: 15px;
    }

    div {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      @media (max-width: $media-tablet) {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}

.row1 {
  max-width: 425px;
  height: 76px;

  // @media (max-width: $media-tablet) {
  //   height: 98px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 116px;
  //   padding: 12px 0px;
  // }
}

.row2 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 54px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 56px;
  //   padding: 12px 0px;
  // }
}

.row3 {
  height: 76px;

  // @media (max-width: $media-tablet) {
  //   height: 142px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 100px;
  //   padding: 12px 0px;
  // }
}

.row4 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 54px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: 736px) {
  //   height: 70px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 72px;
  //   padding: 12px 0px;
  // }
}

.row5 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 76px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 88px;
  //   padding: 12px 0px;
  // }
}

.row6 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 76px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 56px;
  //   padding: 12px 0px;
  // }
}

.row7 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 76px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: 766px) {
  //   height: 94px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 104px;
  //   padding: 12px 0px;
  // }
}

.row8 {
  height: 76px;

  // @media (max-width: $media-tablet) {
  //   height: 120px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 88px;
  //   padding: 12px 0px;
  // }
}

.row9 {
  height: 54px;

  // @media (max-width: $media-tablet) {
  //   height: 54px;
  //   padding: 16px 0px;
  // }

  // @media (max-width: $media-phone) {
  //   height: 56px;
  //   padding: 12px 0px;
  // }
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 71.35%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.dividerLeft {
  width: 100%;
  height: 1px;
  background: linear-gradient(-270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 100%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.dividerRight {
  width: 341px;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 100%, rgba(92, 108, 140, 0.00) 100%), #000;


  &:last-child {
    display: none;
  }
}

.Mobile {

  .MobileRow {
    display: flex;
    justify-content: space-between;

    .FirstTD {
      width: 50%;
    }

    .SecondTD {
      width: 25%;
    }

    .ThirdTD {
      width: 25%;
    }
  }
}