@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Block {
    width: 100%;
    position: relative;
    // margin-bottom: 150px;

    @media (max-width: $media-tablet) {
      height: auto;
    }
}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;

    @media (max-width: $media-tablet-landscape) {
        text-align: left;
        margin-top: 146px;
    }
}

.Hero {

    // test
    @media (max-width: $media-tablet-landscape) {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.Hero:before {
    content: " ";
    //background-image: url("../../assets/img/mainBg.svg");
    background-image: url("../../assets/img/mainBg2.svg");
    width: 1301px;
    height: 1301px;
    //left: -102px;
    left: -65px;
    top: -160px;
    z-index: -10;
    position: absolute;
    animation: spin 80s linear infinite;

    @media (max-width: $media-tablet-landscape) {
        left: 195px;
        top: -170px;
    }
    @media (max-width: $media-tablet) {
        left: -85px;
        top: -180px;
    }
    @media (max-width: $media-phone) {
        left: -265px;
        top: -360px;
    }
}


.HeroInfo {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 56px;

    @media (max-width: $media-tablet-landscape) {
        align-items: flex-start;
    }

    .HeroInfo__title {
        font-size: 72px;
        font-weight: 500;
        line-height: 65px;
        margin-bottom: 24px;

        @media (max-width: $media-tablet-landscape) {
            text-align: left;
            margin-bottom: 24px;
        }
        @media (max-width: $media-tablet) {
            text-align: left;
            margin-bottom: 24px;
        }
        @media (max-width: $media-phone) {
            text-align: left;
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 16px;
        }
    }

    .HeroInfo__subtitle {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 48px;

        @media (max-width: $media-tablet-landscape) {
            text-align: left;
        }
        @media (max-width: $media-tablet-landscape) {
            text-align: left;
        }

        @media (max-width: $media-phone) {
            text-align: left;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 36px;
        }
    }

    .HeroInfo__button,
    .HeroInfo__buttonMob {
        width: 100%;
        max-width: 180px;
        height: 40px;
        padding: 8px 20px;
        font-family: $font-button;
        justify-content: center;
        align-items: center;
        gap: 4px;
        display: flex;
        border-radius: 4px;
        background: #0072F8;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        transition: background-color .3s;

        @media (max-width: $media-phone) {
            max-width: unset;
        }
    }

    .HeroInfo__button {
        display: flex;
        transition: background-color .3s, opacity .3s;

        @media (max-width: $media-tablet-landscape) {
            display: none;
        }
    }

    .HeroInfo__buttonMob {
        display: none;

        @media (max-width: $media-tablet-landscape) {
            display: flex;
            height: 44px !important;
        }
    }

    .HeroInfo__button:hover {
        background-color: #268AFF;
    }

}

.HeroFeature {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 120px;

    @media (max-width: $media-tablet) {
        padding-top: 564px;
    }

    @media (max-width: $media-phone) {
        padding-top: 410px;
        margin-bottom: 90px;
    }

    .HeroFeature__image {
        background-image: url("../../assets/img/mainLaptop2.png");
        background-size: fit;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        padding-bottom: 53%;

        @media (max-width: $media-desktop) {
            background-size: cover;
            // background-position: -75px;
            // height: 500px;
        }
        @media (max-width: $media-tablet) {
            background-size: cover;
            background-position: -295px;
            position: absolute;
            top: 0;
            right: 0;
            width: 100vw;
            background-position: right top;
            padding-bottom: 126%;

            // height: 500px;
        }
        @media (max-width: $media-phone) {
            height: 409px;
            background-size: 194%;
            // height: 500px;
        }
    }

    .HeroFeature__features {
        position: relative;
        // top: -180px;
        // bottom: 150px;
        display: grid;
        background-image: url("../../assets/img/mainFeatureBg.svg");
        fill: #000000 !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        border-radius: 32px;
        overflow: hidden;
        row-gap: 36px;
        column-gap: 72px;

        @media (max-width: $media-desktop) {
            // top: -120px;
            // bottom: 240px;
            //grid-template-columns: 1fr 1fr;
            padding: 60px;
            background-position: unset;
            // max-width: 940px;
            width: 100%;
            row-gap: 12px;
        }
        @media (max-width: $media-tablet-landscape) {
            // top: -120px;
            // bottom: 240px;
            grid-template-columns: 1fr 1fr;
            padding: 60px;
            background-position: unset;
            // max-width: 940px;
            width: 100%;
        }
        @media (max-width: $media-tablet-landscape) {

        }
        @media (max-width: $media-tablet) {
            // top: -120px;
            // bottom: unset;
            grid-template-columns: 1fr;
            padding: 60px;
            background-position: unset;
            // max-width: 620px;
            width: 100%;
            border-radius: 20px;
            padding-bottom: 48px;
        }

        @media (max-width: $media-phone) {
            min-width: unset;
            padding: 24px 24px 12px 24px;
            // max-width: 340px;
            //width: 100%;
        }

        // background: #000;
        .features__item {
            position: relative;
            // padding: 0px 20px;
            // margin-bottom: 36px;

            @media (max-width: $media-desktop) {
                // margin-bottom: 12px;
                padding: 0px;
            }

            .item__title {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 16px;

                @media (max-width: $media-desktop) {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 8px;
                }
            }

            .item__subtitle {
                color: #818AA7;
                font-size: 16px;
                line-height: 22px;

                @media (max-width: $media-desktop) {
                    margin-bottom: 12px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        // .features__item:nth-child(1) {
        //     padding-right: 20px;

        //     @media (max-width: $media-tablet-landscape) {
        //         padding-right: 0px;
        //     }
        // }
        

        .features__item:nth-child(4) {
            // padding-right: 20px;

            // @media (max-width: $media-tablet-landscape) {
            //     padding-right: 0px;
            // }

            .item__title {
                max-width: 140px;

                @media (max-width: $media-tablet-landscape) {
                    max-width: none;
                }
            }
        }

        .features__item:nth-child(2) {
            padding-left: 24px;
            // padding-right: 20px;

            @media (max-width: $media-desktop) {
                padding-left: 0px;
                padding-right: 0px;
            }

            .item__title {
                max-width: 140px;

                @media (max-width: $media-tablet-landscape) {
                    max-width: none;
                }
            }
        }

        .features__item:nth-child(5) {
            padding-left: 24px;
            padding-right: 20px;

            @media (max-width: $media-desktop) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        .features__item:nth-child(3) {
            padding-left: 20px;

            @media (max-width: $media-desktop) {
                padding-left: 0px;
            }

            .item__title {
                max-width: 170px;

                @media (max-width: $media-tablet-landscape) {
                    max-width: none;
                }
            }
        }

        .features__item:nth-child(6) {
            padding-left: 20px;

            @media (max-width: $media-desktop) {
                padding-left: 0px;
            }
        }

        .features__item:nth-child(4),
        .features__item:nth-child(5),
        .features__item:nth-child(6) {
            margin-bottom: 0px;

            @media (max-width: $media-tablet-landscape) {
                margin-bottom: 12px;
            }
        }

        .features__item:nth-child(6) {
            @media (max-width: $media-tablet-landscape) {
                margin-bottom: 0px !important;
            }
        }

        .features__item:not(:last-child):after {
            display: none;
            content: " ";
            position: absolute;
            left: 0px;
            top: 99%;
            max-width: 500px;
            width: 100%;
            z-index: 10;
            height: 1px;
            background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 51.56%, rgba(92, 108, 140, 0.00) 100%);

            @media (max-width: $media-tablet-landscape) {

            }
            @media (max-width: $media-tablet) {
                display: block;

            }
            @media (max-width: $media-phone) {
                display: block;
                width: 292px;
            }
        }

        // .features__item:last-child:after {
        //     display: none;
        //     content: " ";
        //     position: absolute;
        //     left: 0px;
        //     top: 99%;
        //     width: 500px;
        //     z-index: 10;
        //     height: 1px;
        //     background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 51.56%, rgba(92, 108, 140, 0.00) 100%);
            
        //     @media (max-width: $media-desktop) {
        //         display: block;
        //         transform: rotate(90deg);
        //         left: -210px;
        //         top: -20px;
        //         width: 348px;
        //     }
        //     @media (max-width: $media-tablet-landscape) {
        //         display: block;
        //         transform: rotate(90deg);
        //         left: -230px;
        //         top: -20px;
        //         width: 415px;
        //     }
        //     @media (max-width: $media-tablet) {
        //         display: none;
        //     }
        //     @media (max-width: $media-phone) {
        //         display: none;
        //         width: 292px;
        //     }
        // }
    }

    .HeroFeature__features:before { 
        content: " ";
        position: absolute;
        left: 34%;
        top: 0;
        width: 1px;
        z-index: 10;
        height: 100%;
        background: linear-gradient(180deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 71.35%, rgba(92, 108, 140, 0.00) 100%), #000;

        @media (max-width: $media-tablet-landscape) {
            left: 50%;
       }

        @media (max-width: $media-tablet) {
            display: none;
        }
    }

    .HeroFeature__features:after {
        content: " ";
        position: absolute;
        right: 34%;
        top: 0;
        width: 1px;
        z-index: 10;
        height: 100%;
        background: linear-gradient(180deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 71.35%, rgba(92, 108, 140, 0.00) 100%), #000;

        @media (max-width: $media-desktop) {
            // right: 17vw;
        }
        @media (max-width: $media-tablet-landscape) {
            display: none;
        }
    }
}

.HeroFeature:after {
    content: " ";
    background: url("../../assets/img/mainGradBg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2337px;
    height: 1900px;
    position: absolute;
    top: -365px;
    left: -600px;
    z-index: -1;

    @media (max-width: $media-tablet-landscape) {
        //background: url("../../assets/img/mainGradBg.svg");
        top: -170px;
        left: -460px;
        opacity: 0.5;
        // display: none;
        // left: -450px;
    }
    @media (max-width: $media-tablet) {
        //background: url("../../assets/img/mainGradBg.svg");
        top: 0px;
        left: -1160px;
        // display: none;
        // left: -450px;
    }
    @media (max-width: $media-phone) {
        //background: url("../../assets/img/mainGradBg.svg");
        top: -170px;
        left: -460px;
        // display: none;
        // left: -450px;
    }
}

.HeroFeature:before {
    content: " ";
    background: url("../../assets/img/darker.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1800px;
    height: 660px;
    position: absolute;
    top: -600px;
    left: 0px;
    z-index: -1;

    @media (max-width: $media-tablet-landscape) {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}