@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";


.SecurityBlock {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/img/securityBg.svg");
  background-size: cover;
  background-position: center left;
  padding: 60px;
  background-repeat: no-repeat;
  border-radius: 32px;

  @media (max-width: $media-tablet-landscape) {
    background-size: 300%;
    background-position: bottom left 20%;
    flex-direction: column-reverse;
    padding: 24px;
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  max-width: 650px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 36px;
    max-width: 350px;
  }
}

.image {
  background-image: url(../../assets/img/security.png);  
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 380px;
  scale: 1.15;
  @media (max-width: $media-tablet-landscape) {
    width: 300px;
    height: 240px;
  }
}

.items__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 17px;
  max-width: 370px;

  @media (max-width: $media-tablet-landscape) {
    gap: 16px;
  }
}

.item {
  list-style-type: disc;
  color: #0072F8;
}

.text {
  color: #818AA7;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $media-tablet-landscape) {
    font-size: 16px;
    line-height: 22px;
  }
}