@import "@/assets/styles/variables.scss";


.Footer {
  width: 100%;

  @media (max-width: $media-tablet) {
    margin-bottom: 24px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 28px;

  @media (max-width: $media-tablet-landscape) {
    margin-bottom: 36px;
  }

  @media (max-width: $media-phone) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 26px;
  }
}

.TopWrapper {
  margin-bottom: 40px;
  display: flex;
  gap: 66px;

  @media (max-width: $media-tablet-landscape) {
    gap: 32px;
  }

  @media (max-width: $media-phone) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 36px;
  }

  @media (max-width: $media-tablet) {
    gap: 31px;
  }

  @media (max-width: $media-phone) {
    gap: 16px;
    flex-direction: column;
  }

  a {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-decoration: underline;
    transition: background-color .3s, opacity .3s;

    &:first-child {


      &:hover {
        opacity: 0.5;
      }
    }

    &:last-child {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.divider {
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0.5%, rgba(92, 108, 140, 0.27) 14%, #5C6C8C 29.69%, rgba(92, 108, 140, 0.00) 100%), #000;
  height: 1px;
}

.BottomWrapper {
  margin-top: 24px;
  display: flex;
  //flex-direction: column;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  @media (max-width: $media-tablet) {
    flex-direction: column;
  }

  //align-items: center;
  @media (max-width: $media-phone) {
    margin-top: 36px;
    flex-direction: column;
  }
}

.LeftLink,
.RightLink {
  display: flex;
  text-align: left;
  flex-direction: row;

  //align-items: flex-start;
  @media (max-width: $media-phone) {
    flex-direction: column;
  }

  a,
  p {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    //opacity: 0.5;

    @media (min-width: $media-tablet) {
      &:not(:last-child) {
        margin: 0 24px 0 0;
      }
    }
  }

  p:first-child {
    margin-bottom: 8px;
  }

  a {
    text-decoration: underline;
    transition: background-color .3s, opacity .3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.RightLink {

  @media (max-width: $media-tablet) {
    justify-content: space-between;
    gap: 10px;
  }
}

.LeftLink {
  @media (max-width: $media-phone) {
    flex-direction: column;
  }

  a {
    margin-bottom: 37px;

    @media (max-width: $media-tablet) {
      margin-bottom: 16px;
    }

    @media (max-width: $media-phone) {
      margin-bottom: 28px;
    }
  }
}

.footerText {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
}