@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background: linear-gradient(0turn,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%);
    z-index: 100;
    display: flex;
    justify-content: center;
}

.Wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 25%;
    max-width: 1180px;
    @media (max-width: $media-tablet-landscape) {
        justify-content: flex-start;
        margin-left: 17px;
    }
}

.PageLinks {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    @media (max-width: $media-tablet-landscape) {
        margin-top: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.Link {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    @media (max-width: $media-tablet-landscape) {
        font-size: 20px;
        border-bottom: 1px inset #fff;
    }
}

.Logo {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (max-width: $media-tablet-landscape) {
        width: 157px;
        margin-top: 0px;
    }
}

.LogoText {
    margin-left: 11px;
    display: block;

    @media (min-width: $media-tablet) {
        display: block;
    }
}

.Btn {
    position: absolute;
    transition: background-color .3s, opacity .3s;
    right:   0px;
    margin-top: 17px;
    width: 180px;
    display: flex;
    height: 40px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap:  4px;
    border-radius: 4px;
    background: #0072F8;
    cursor: pointer;
    margin-bottom: 16px;
    color: white;
    @media (max-width: $media-tablet-landscape) {
        display: none;
    }
}
.Btn:hover {
    background-color: #268AFF;
}



.MobileHeader {
    background: linear-gradient(0turn,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%);
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;

}

.MobileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 12px 17px 0px 17px;
}

.Burger {
    cursor: pointer;
    
    svg {
        width: 36px;
        height: 36px;
    }
}

.Menu {
    background: linear-gradient(0turn,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%);
    padding: 0px 17px 0px 17px;
    transition: height 0.3s ease;
    overflow: hidden;
    height: 0;
}

.Active {
    height: 220px;
}

.MobileBtn {
    width: 100%;
    height: 40px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    background: #0072F8;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MobileBtn:hover {
    background-color: #268AFF;
}

