@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.CosmosSchemeBlock {
  margin-bottom: 150px;

  @media (max-width: $media-tablet) {
    margin-bottom: 120px;
  }

  @media (max-width: $media-phone) {
    margin-bottom: 74px;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: $media-phone) {
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 36px;
  }
}

.content {
  display: flex;
  gap: 20px;
}

.columnText {
  text-align: left;
  padding-top: 76px;
  width: 50%;

  @media (max-width: $media-tablet-landscape) {
    width: 46%;
  }

  .text {
    color: #818AA7;
    font-size: 16px;
    line-height: 22px;

    div {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
    }
  }
}

.columnCosmos {
  padding: 32px 16px;
  height: 654px;
  width: 25%;
  border-radius: 32px;
  border: 1px solid #4E5C77;

  @media (max-width: $media-tablet-landscape) {
    height: 686px;
    width: 30%;
  }

  .cosmosTitle {
    color: #0072F8;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;
  }

  .cosmos {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
  }
}

.columnOther {
  width: 25%;

  @media (max-width: $media-tablet-landscape) {
    width: 24%;
  }

  .otherTitle {
    padding-top: 32px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;
  }

  .other {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    div {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
  }
}

.row1 {
  max-width: 425px;
  height: 76px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.row2 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 54px;
  }
}

.row3 {
  height: 76px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.row4 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 54px;
  }
}

.row5 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 54px;
  }
}

.row6 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.row7 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.row8 {
  height: 76px;

  @media (max-width: $media-tablet-landscape) {
    height: 76px;
  }
}

.row9 {
  height: 54px;

  @media (max-width: $media-tablet-landscape) {
    height: 54px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 71.35%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}
.dividerFix {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 50.69%, rgba(92, 108, 140, 0.00) 100%), #000;

  &:last-child {
    display: none;
  }
}

.Mobile {

  .MobileTitles {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;

    @media (max-width: $media-tablet) {
      margin-bottom: 9px;
    }

    @media (max-width: 580px) {
      gap: 10px;
    }

    .MobileTextTitle {
      width: 53%;

      @media (max-width: 670px) {
        width: 40%;
      }

      @media (max-width: $media-phone) {
        width: 36%;
      }

    }

    .MobileCosmosTitle {
      width: 23.5%;
      color: #0072F8;
      line-height: 28px;
      font-size: 28px;

      @media (max-width: 670px) {
        width: 30%;
      }

      @media (max-width: 580px) {
        font-size: 22px;
      }

      @media (max-width: 500px) {
        font-size: 18px;
      }

      @media (max-width: 450px) {
        font-size: 16px;
      }

      @media (max-width: $media-phone) {
        font-size: 20px;
        line-height: 26px;
        width: 30%;
      }

      @media (max-width: 360px) {
        font-size: 17px;
        line-height: 16px;
      }
    }

    .MobileOtherTitle {
      width: 23.5%;
      line-height: 28px;
      font-size: 28px;

      @media (max-width: 670px) {
        width: 30%;
      }

      @media (max-width: 580px) {
        font-size: 22px;
      }

      @media (max-width: 500px) {
        font-size: 18px;
      }

      @media (max-width: 450px) {
        font-size: 16px;
      }

      @media (max-width: $media-phone) {
        font-size: 20px;
        line-height: 26px;
        width: 34%;
      }

      @media (max-width: 360px) {
        font-size: 17px;
        line-height: 16px;
      }
    }
  }

  .MobileRow {
    display: flex;
    padding: 16px 0px;
    gap: 20px;

    @media (max-width: $media-tablet) {
      padding: 16px 0 15px;
    }

    @media (max-width: 580px) {
      padding: 12px 0;
      gap: 10px;
    }

    .FirstTD {
      width: 53%;
      color: #818AA7;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 670px) {
        width: 40%;
      }

      @media (max-width: 580px) {
        font-size: 14px;
      }

      @media (max-width: 500px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 460px) {
        font-size: 11px;
        line-height: 14px;
      }

      @media (max-width: $media-phone) {
        font-size: 12px;
        line-height: 15px;
        width: 36%;
      }
    }

    .SecondTD {
      width: 23.5%;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 670px) {
        width: 30%;
      }

      @media (max-width: 580px) {
        font-size: 14px;
      }

      @media (max-width: 500px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 460px) {
        font-size: 11px;
        line-height: 14px;
      }

      @media (max-width: $media-phone) {
        font-size: 12px;
        line-height: 15px;
        width: 30%;
      }
    }

    .ThirdTD {
      width: 23.5%;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 670px) {
        width: 30%;
      }

      @media (max-width: 580px) {
        font-size: 14px;
      }

      @media (max-width: 500px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 460px) {
        font-size: 11px;
        line-height: 14px;
      }

      @media (max-width: $media-phone) {
        font-size: 12px;
        line-height: 15px;
        width: 34%;
      }
    }
  }
}