@import '@assets/styles/variables.scss';

.Modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  z-index: 20;
}
.Modal.active {
  opacity: 1;
  pointer-events: all;
}

.Modal__content{
  //padding: 20px;
  max-width: 341px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  z-index: 20;
  text-align: left;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-image: url("../../../assets/img/popupBg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
}

.Modal__form {
  padding: 24px;
  .Modal__title {
    font-size: 20px;
    line-height: 26px;
    display: flex;
    //margin-bottom: 19px;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    img {
      width: 20px;
      cursor: pointer;
      height: 36px;
    }
  }
  .form__input {
    border-radius: 4px;
    color: #818AA7;
    border: none;
    background-color:  #12151F;
    padding: 14px 32px 14px 20px;
    max-width: 293px;
    width: 100%;
  }
  .FormContainer:not(:last-child) {
    margin-bottom: 8px;
  }
  .form__checkbox {
    display: flex;
    margin-top: 8px;
    margin-bottom: 24px;
    .checkbox__checkbox {
      //width: 16px;
      //height: 16px;
      //background-color: gray;
      margin-right: 8px;
    }
    .checkbox__text {
      font-size: 12px;
      line-height: 18px;
      a {
        color: #80A7FF;
        text-decoration: underline;
      }
    }

  }
  .form__button {
    max-width: 293px;
    width: 100%;
    color: white;
    font-size: 14px;
    line-height: 20px;
    height: 44px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap:  4px;
    border-radius: 4px;
    background: #0072F8;
    cursor: pointer;
    margin-bottom: 16px;
    border: none;
    transition: background-color .3s;
  }
  .form__button:hover {
    background-color: #268AFF;
  }

  button[disabled] {
    background: #144B94;
    color: #838792;
    cursor: not-allowed;
  }

  button[disabled]:hover {
    background: #144B94;
    color: #838792;
    cursor: not-allowed;
  }
}
.FormContainer {
  display: flex;
  flex-direction: column;
}
.errorsInput {
  color: red !important;

}
.errorText {
  color: red;
  margin-top: 3px;
  margin-bottom: 5px;
}