@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.LaptopBlock {
  margin-bottom: 15px;
  position: relative;


  @media (max-width: $media-phone) {
    margin-bottom: 0px;
  }
}

.LaptopBlock:after {
  content: " ";
  background: url("../../assets/img/gradBgLaptop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1458px;
  height: 1400px;
  position: absolute;
  top: 100px;
  left: -44px;
  z-index: -1;

  @media (max-width: $media-tablet-landscape) {
    display: block;
    background: url("../../assets/img/gradBgLaptopTabletLandscape.svg");
    top: 0px;
    left: -100px;
  }

  @media (max-width: $media-phone) {
    // background: url("../../assets/img/gradBgLaptopMob.svg");
    background: url("../../assets/img/gradBgLaptopMobile.svg");
    display: block;
    width: 930px;
    height: 1000px;
    top: -144px;
    left: -251px;
  }
}

.LaptopBlock:before {
  content: " ";
  background: url("../../assets/img/gradBgLaptop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1458px;
  height: 1400px;
  position: absolute;
  top: -600px;
  left: -800px;
  z-index: -1;

  @media (max-width: $media-tablet-landscape) {
    display: none;
  }
}

.title {
  align-items: center;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (max-width: $media-tablet-landscape) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  @media (max-width: $media-tablet) {
    margin-bottom: 0px;
  }

  @media (max-width: $media-phone) {
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    justify-content: flex-start;
  }
}

.LaptopBlock__info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1185px) {
    grid-template-columns: 230px 430px 300px;
    justify-content: center;
  }

  @media (max-width: $media-tablet-landscape) {
    grid-template-columns: 230px 375px 330px;
    //flex-direction: column-reverse;
    ////align-items: flex-start;
    //align-items: center;
    //display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr 300px 1fr;
    flex-direction: column-reverse;
    //align-items: flex-start;
    align-items: center;
    display: flex;
    padding-bottom: 0px;
  }

  @media (max-width: $media-phone) {
    margin-top: -17px;
    flex-direction: column-reverse;
    //align-items: flex-start;
    align-items: unset;
    display: flex;
    padding-bottom: 0px;
  }

  .info__left {
    @media (max-width: $media-tablet) {
      width: 100%;
      display: none;
    }
  }

  .info__mob {
    display: none;

    @media (max-width: $media-tablet) {
      //width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      z-index: 3;
      top: -75px;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }

    @media (max-width: $media-phone) {
      //width: 100%;
      display: block;
      position: relative;
      z-index: 3;
      top: -75px;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }
  }

  .info__right {
    @media (max-width: $media-tablet) {
      display: none;
    }
  }

  .item {
    position: relative;
    margin-bottom: 50px;
    max-width: 400px;

    @media (max-width: $media-tablet-landscape) {
      display: flex;
      flex-direction: column;
      //grid-template-columns: 1fr;
      //gap: 14px;
      justify-content: space-between;
      margin-bottom: 36px !important;
      height: auto;
    }

    @media (max-width: $media-phone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
      justify-content: space-between;
      margin-bottom: 24px !important;
      //height: 48px;

      &:nth-child(1) {
        min-height: 32px;
      }

      &:nth-child(2) {
        min-height: 48px;
      }

      &:nth-child(3) {
        min-height: 32px;
      }

      &:nth-child(4) {
        min-height: 48px;
      }

      &:nth-child(5) {
        min-height: 48px;
      }

      &:nth-child(6) {
        min-height: 32px;
      }
    }

    .item__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 16px;

      @media (max-width: $media-tablet-landscape) {
        text-align: left;
      }

      @media (max-width: $media-phone) {
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
      }
    }

    .item__subtitle {
      color: #818AA7;
      line-height: 25px;


      @media (max-width: $media-tablet-landscape) {
        font-size: 18px;
        line-height: 25px;
        text-align: left;
      }

      @media (max-width: $media-phone) {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
      }
    }
  }

  .item:not(:last-child):after {
    display: none;
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -12px;
    width: 292px;
    z-index: 10;
    height: 1px;
    background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 51.56%, rgba(92, 108, 140, 0.00) 100%);

    @media (max-width: $media-phone) {
      display: block;
    }
  }

  .item:last-child {
    margin-bottom: 0px;
  }

  .info__center {
    background-image: url("../../assets/img/SecondLaptop.png");
    background-size: cover;
    background-position: right -60px bottom 10px;
    background-repeat: no-repeat;
    width: 614px;
    height: 714px;

    @media (max-width: 1185px) {
      width: 465px;
      height: 535px;
    }

    @media (max-width: $media-tablet-landscape) {
      background-image: url("../../assets/img/SecondLaptopTab.png");
      width: 522px;
      height: 500px;
      position: relative;
      top: 0px;
      background-position: right 83px bottom -9px;
    }

    @media (max-width: $media-tablet) {
      background-image: url("../../assets/img/SecondLaptopTab.png");
      width: 566px;
      height: 566px;
      //left: 13px;
      position: relative;
      top: 0px;
      background-position: right 0px bottom 30px;
    }

    @media (max-width: $media-phone) {
      margin: 0px auto;
      background-image: url("../../assets/img/SecondLaptopMob.png");
      // width: 298px;
      width: 340px;
      height: 375px;
      // width: 298px;
      // height: 335px;
      left: 18px;
      position: relative;
      top: 40px;
      background-position: right 20px bottom 30px;
    }

    //transform: rotate(-14.285deg);
  }

  .info__center:after {
    content: " ";
    animation: spin 80s linear infinite;
    background-image: url("../../assets/img/animateLaptop.svg");
    position: absolute;
    left: 142px;
    top: -105px;
    background-position: center;
    background-size: cover;
    width: 891px;
    height: 891px;
    z-index: -1;

    @media (max-width: 1185px) {
      left: 190px;
      width: 791px;
      height: 791px;
      top: -121px;
    }

    @media (max-width: $media-tablet-landscape) {
      width: 664px;
      height: 664px;
      left: -149px;
      top: -77px;
    }

    @media (max-width: $media-tablet) {
      width: 721px;
      height: 721px;
      left: -80px;
      top: -110px;
    }

    @media (max-width: $media-phone) {
      width: 370px;
      height: 370px;
      left: -50px;
      top: -52px;
    }
  }
}

//.LaptopBlock__info:after {
//  content: " ";
//  animation: spin 80s linear infinite;
//  background-image: url("../../assets/img/animateLaptopLv22.svg");
//  position: absolute;
//  left: 190px;
//  top: -85px;
//  background-position: center;
//  background-size: cover;
//  width: 820px;
//  height: 820px;
//  z-index: -1;
//
//  @media (max-width: 1185px) {
//    left: 140px;
//    width: 720px;
//    height: 720px;
//  }
//
//  @media (max-width: $media-tablet-landscape) {
//    width: 577px;
//    height: 577px;
//    top: -20px;
//    left: 210px;
//  }
//
//  @media (max-width: $media-tablet) {
//    width: 577px;
//    height: 577px;
//    top: -30px;
//    left: 10px;
//  }
//
//  @media (max-width: $media-phone) {
//    width: 360px;
//    height: 360px;
//    top: -48px;
//    left: -20px;
//  }
//}
//
//.LaptopBlock__info:before {
//  content: " ";
//  animation: spin 80s linear infinite;
//  background-image: url("../../assets/img/animateLaptopLv11.svg");
//  position: absolute;
//  left: 443px;
//  top: 170px;
//  z-index: -1;
//  background-position: center;
//  background-size: cover;
//  width: 320px;
//  height: 320px;
//
//  @media (max-width: 1185px) {
//    left: 383px;
//    width: 240px;
//    height: 240px;
//  }
//
//  @media (max-width: $media-tablet-landscape) {
//    width: 240px;
//    height: 240px;
//    top: 140px;
//    left: 380px;
//  }
//
//  @media (max-width: $media-tablet) {
//    width: 240px;
//    height: 240px;
//    top: 140px;
//    left: 180px;
//  }
//
//  @media (max-width: $media-phone) {
//    width: 140px;
//    height: 140px;
//    top: 65px;
//    left: 90px;
//  }
//}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}